body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("https://get.wallhere.com/photo/city-street-cityscape-skyline-skyscraper-evening-New-York-City-dusk-Manhattan-metropolis-downtown-landmark-urban-area-metropolitan-area-human-settlement-neighbourhood-residential-area-geographical-feature-tower-block-aerial-photography-55372.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
